<%- include('partials/header'); -%>
<!-- <h1>Welcome to Nozama</h1> -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <style>
      .section {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-wrap: wrap;
      }
      .practiceItem {
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 35px;
        width: 350px;
        height: 200px;
        text-align: center;
        margin: 20px 0;
        border-radius: 3mm;
        color: rgb(56, 56, 56);
        font-family: poppins;
        font-weight: bold;
        background: rgb(242,242,242);
        position: relative;
    }
    .practiceItem:hover {
        background: rgb(249,187,45);
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.178);
        color: rgb(27, 27, 27);
    }
    .play{
        position: absolute;
        bottom: 5px;
        right: 5px;
        font-size: xx-large;
    }
    </style>
        <link
        href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp"
        rel="stylesheet">
    </head>
    <body>
    <!-- page title -->
    <section class="page-title bg-primary position-relative">
        <center>
            <!-- <h2 class="text-white font-tertiary">Available Categories:</h2> -->
        </center>
        <br />
    </section>
    <!-- /page title -->
    <section class="section">
        <% for(var i =0;i<data.length;i++) { %>
        <a
            href="#"
            class="practiceItem"
        >
        <p> Name: <%= data[i].productName %></p>
        <p>Price:<%= data[i].price %></p>
        </a>
        <% } %>
    </section>
    </body>
</html>
